  
<div class="contaner ">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <a href="/" class="btn btn-primary">Back</a>
            <div class="card">
                <div class="card-header">
                    <h2>Create Product</h2>
                </div>
                <div class="card-body">
                   <form action="/product" enctype="multipart/form-data" method="POST">
                    <div class="my-3">
                        <label for="">Product Name</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                    <div class="my-3">
                        <label for="">Regular Price</label>
                        <input class="form-control" type="text" name="regularPrice">
                    </div>
                    <div class="my-3">
                        <label for="">Sale Price</label>
                        <input class="form-control" type="text" name="salePrice">
                    </div>
                    <div class="my-3">
                        <label for="">Stock</label>
                        <input class="form-control" type="text" name="stock">
                    </div>
                    <div class="my-3">
                        <label for="">Photo</label>
                        <input class="form-control" type="file" name="productphoto">
                    </div>
                    <button class="btn btn-primary">Create</button>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>

