  
<div class="contaner ">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <a href="/" class="btn btn-primary">Back</a>
            <div class="card">
                <div class="card-header">
                    <h2>Create Product</h2>
                </div>
                <div class="card-body">
                   <form action="/product" enctype="multipart/form-data" method="POST">
                    <div class="my-3">
                        <label for="">Product Name</label>
                        <input class="form-control" type="text" name="name">
                    </div>
                    <div class="my-3">
                        <label for="">Regular Price</label>
                        <input class="form-control" type="text" name="regularPrice">
                    </div>
                    <div class="my-3">
                        <label for="">Sale Price</label>
                        <input class="form-control" type="text" name="salePrice">
                    </div>
                    <div class="my-3">
                        <label for="">Stock</label>
                        <input class="form-control" type="text" name="stock">
                    </div>
                    <div class="my-3">
                        <label for="">Photo</label>
                        <input class="form-control img " type="file" name="productphoto">
                    </div>
                    <div class="my-3">
                        <img style="width: 100%; height: 300px; object-fit: contain;" class="preview w-100" src="https://e7.pngegg.com/pngimages/84/165/png-clipart-united-states-avatar-organization-information-user-avatar-service-computer-wallpaper-thumbnail.png" alt="" />
                    </div>
                    <button class="btn btn-primary">Create</button>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const photoInput = document.querySelector(".img")
    const preview = document.querySelector(".preview")
    photoInput.onchange = function(){
        const imgSrc = URL.createObjectURL(this.files[0])
        preview.src = imgSrc
     }
</script>

