
<div class="contaner ">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <a href="/" class="btn btn-primary">Back</a>
            <div class="card">
                <div class="card-header">
                    <h2>Singel Product</h2>
                </div>
                <div class="card-body">
                   <img style="width:50%; height:250px; object-fit: contain;" src="/products/<%= product.productphoto %>" alt="">
                   <h4> Product Price: <%= product.regularPrice %></h4>
                   <p> Sale Price: <%= product.salePrice %></p>
                </div>
            </div>
        </div>
    </div>
</div>
